# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

.ENV
.idea/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
coverage/
dist/
node_modules/
tmp/
temp/
hooks/
plugins/
platforms/*
!platforms/browser/
!platforms/browser/www
!platforms/browser/www/plugins
platforms/browser/www/.gitignore
plugins/android.json
plugins/ios.json
$RECYCLE.BIN/
platforms/browser/cordova/node_modules/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
