.game-results-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100vh;
  overflow: auto;
}

.game-results-player {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
