.lost-cities-card {
  color: white;
  display: flex;
  border: 1px solid;
  font-weight: bold;
  width: 30px;
  height: 50px;
  align-items: center;
  justify-content: center;
  margin: 1px;
  padding: 2px;
}

.lost-cities-card-selected {
  background-color: darkslategray;
}

.lost-cities-card-clickable {
  cursor: pointer;
}

div.lost-cities-card-half {
  height: 20px;
  border-width: 1px 1px 0px 1px;
}

.lost-cities-card-expedition-0 {
  border: 1px solid darkorange;
  color: darkorange;
}

.lost-cities-card-expedition-1 {
  border: 1px solid royalblue;
  color: royalblue;
}

.lost-cities-card-expedition-2 {
  border: 1px solid gray;
  color: gray;
}

.lost-cities-card-expedition-3 {
  border: 1px solid green;
  color: green;
}

.lost-cities-card-expedition-4 {
  border: 1px solid red;
  color: red;
}
