<ion-header>
  <ion-navbar>
    <ion-title *ngIf="game">#{{ gameNumber }} {{ game.name }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="game">

    <img src="{{ SERVER_URL + '/images/' + game.name + '.jpg' }}">
    <div><b>Game status</b>: {{ status }}</div>
    <div>
      <b>Players in game</b>:
      <p *ngFor="let player of game.players">&nbsp;&nbsp;&nbsp;{{ player.username }}: {{ player.ready ? 'ready' : 'not ready' }}</p>
    </div>
    <div *ngIf="game.watchers && game.watchers.length">
      <b>Watchers in game</b>:
      <p *ngFor="let watcher of game.watchers">&nbsp;&nbsp;&nbsp;{{ watcher.username }}</p>
    </div>
    <button ion-button (click)="leaveButtonClick()">Leave</button>

    <div *ngIf="!game.gameInfo.started">
      <div>Minimum players in this game: {{ game.gameInfo.PLAYERS_MIN }}</div>
      <div>Maximum players in this game: {{ game.gameInfo.PLAYERS_MAX }}</div>
      <button ion-button (click)="readyButtonClick()">{{ readyButtonLabel }}</button>
      <button ion-button (click)="startButtonClick()">Start</button>
    </div>
    <hr>
    <div *ngIf="status === 'started'">
      <div><b>Next player</b>: {{ game.nextPlayersNames }}</div>

      <div *ngIf="game.name === 'No, Thanks!'">
        <div><b>Cards left</b>: {{ game.gameInfo.cardsLeft }}</div>
        <div>
          <b>Current card</b>: <h1><b>{{ game.gameInfo.currentCard }}</b></h1> ( {{ game.gameInfo.currentCardCost }} chips)
        </div>

        <div *ngFor="let player of game.gameInfo.players; let i = index">
          <div *ngIf="game.players[i].username !== currentUsername">
            <br><b>{{ game.players[i].username }}</b>'s cards: <span *ngFor="let card of player.cards">{{ card }}&nbsp;</span>
          </div>
          <div *ngIf="game.players[i].username === currentUsername">
            <br>My chips: {{ player.chips }}<br>
            My cards: {{ player.cards }}<br>
            My points: {{ player.points }}<br><br>
          </div>
        </div>

        <div *ngIf="game.nextPlayersNames && game.nextPlayersNames.indexOf(currentUsername) >= 0">
          <button ion-button (click)="noThanksPayButtonClick()">Pay</button>
          <button ion-button (click)="noThanksTakeButtonClick()">Take</button>
        </div>
      </div>



      <div *ngIf="game.name === 'Perudo'">
        <div *ngIf="game.players[game.gameInfo.lastPlayerNumber]"><b>Last player</b>: {{ game.players[game.gameInfo.lastPlayerNumber].username }}</div>
        <div id="perudoLastRoundResults"></div>
        <div><b>Round</b>: {{ game.gameInfo.currentRound }}</div>
        <div>
          <br><b>Current Bet</b>: <h1><b>{{ game.gameInfo.currentDiceNumber }} {{ game.gameInfo.currentDiceFigure }}th</b></h1>
        </div>

        <div *ngFor="let player of game.gameInfo.players; let i = index">
          <div *ngIf="game.players[i].username !== currentUsername">
            <br><b>{{ game.players[i].username }}</b>'s dice count: {{ player.dicesCount }}
          </div>
          <div *ngIf="game.players[i].username === currentUsername">
            <br>My dices:: {{ player.dices }}<br>
          </div>
        </div>

        <div *ngIf="game.nextPlayersNames && game.nextPlayersNames.indexOf(currentUsername) >= 0">

          <ion-item>
            <ion-label stacked color="primary">Dice number</ion-label>
            <ion-select (ionChange)="onPerudoDiceNumberChange()" [(ngModel)]="perudoDiceNumber">
              <ion-option value="1">1</ion-option>
              <ion-option value="2">2</ion-option>
              <ion-option value="3">3</ion-option>
              <ion-option value="4">4</ion-option>
              <ion-option value="5">5</ion-option>
              <ion-option value="6">6</ion-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label stacked color="primary">Dice figure</ion-label>
            <ion-select (ionChange)="onPerudoDiceFigureChange()" [(ngModel)]="perudoDiceFigure">
              <ion-option value="1">1</ion-option>
              <ion-option value="2">2</ion-option>
              <ion-option value="3">3</ion-option>
              <ion-option value="4">4</ion-option>
              <ion-option value="5">5</ion-option>
              <ion-option value="6">6</ion-option>
            </ion-select>
          </ion-item>

          <button ion-button (click)="perudoBetButtonClick()">Bet</button>
          <button ion-button (click)="perudoNotBelieveButtonClick()">Not Believe</button>
        </div>
      </div>

    </div>

    <hr>



    <div id="gameResultsDiv"></div>



    <button ion-button (click)="rulesButtonClick()">Show rules</button>
    <div *ngIf="showRules" [innerHTML]="game.rules"></div>



    <div>

      <ion-item>
        <ion-input placeholder="Enter message" (keyup)="messageInputKeyUp(key)" [(ngModel)]="messageInput"></ion-input>
      </ion-item>

      <button ion-button (click)="sendButtonClick()">Send</button>

      <div *ngIf="game.logNchat">
        <p *ngFor="let message of game.logNchat.reverse()">
          <span *ngIf="message.type === 'message'"><b>{{ message.username }}</b>: {{ message.text }}</span>
          <span *ngIf="message.type === 'move'"><i>{{ message.username }} {{ message.text }}</i></span>
          <span *ngIf="message.type === 'event'"><i>{{ message.text }}</i></span>
        </p>
      </div>

    </div>

  </div>
</ion-content>
