<div *ngIf="!loading">
  <div *ngIf="!currentUsername">
    <mat-form-field>
      <input matInput type="text" [(ngModel)]="username" placeholder="Username" minlength="3" maxlength="25">
    </mat-form-field>&nbsp;
    <mat-form-field>
      <input matInput type="password" [(ngModel)]="password" placeholder="Password" minlength="3" maxlength="25">
    </mat-form-field>&nbsp;
    <button mat-raised-button (click)="signIn()">Sign in</button>&nbsp;
    <button mat-raised-button (click)="signUp()">Sign up</button>
  </div>

  <div *ngIf="currentUsername">
    You are logged in as
    <span class="name">{{ currentUsername }} </span>
    <button mat-raised-button (click)="logOut()">Log out</button>
  </div>
  <br>
</div>

<div *ngIf="loading">
  <div *ngIf="!connected">
    <mat-progress-spinner mode="indeterminate">
    </mat-progress-spinner>
  </div>
</div>