<div *ngIf="!currentUsername">
  <mat-form-field>
    <input matInput type="text" [(ngModel)]="username" placeholder="Username" maxlength="25">
  </mat-form-field>&nbsp;
  <mat-form-field>
    <input matInput type="password" [(ngModel)]="password" placeholder="Password" maxlength="25">
  </mat-form-field>&nbsp;
  <button mat-raised-button (click)="signIn()">Sign in</button>&nbsp;
  <button mat-raised-button (click)="signUp()">Sign up</button>
</div>

<div *ngIf="currentUsername">
  You are logged in as {{ currentUsername }}.
  <button mat-raised-button (click)="logOut()">Log out</button>
</div>
<br>