.no-thanks-buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .no-thanks-button {
    width: 100px;
    height: 60px;
    margin: 2px;
  }
}
