.six-nimmt-player-last-info-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  .six-nimmt-player-last-info {
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;

    div {
      display: flex;
      justify-content: center;
    }
  }

}

.six-nimmt-player-cards-and-points {
  text-align: center;
}