.six-nimmt-player-last-info-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .six-nimmt-player-last-info {
    padding-left: 5px;
    padding-right: 5px;

    div {
      display: flex;
      justify-content: center;
    }
  }
}