<div *ngIf="allGamesInfo">
  <table class="games-list">

    <tr *ngFor="let game of allGamesInfo; let i = index">
      <td>
        <img src="{{ SERVER_URL + '/images/' + game.name + '.jpg' }}">
      </td>
      <td>#{{ allGamesInfo.length - i - 1 }}</td>
      <td>{{ game.name }}</td>
      <td>{{ (game.gameInfo.started ? ((game.gameInfo.finished) ? 'finished' : 'started') : 'not started') }}</td>
      <td>{{ game.players.length }}</td>
      <td>
        <button *ngIf="currentUsername" (click)="joinGame(allGamesInfo.length - i - 1)">
          {{ (game.gameInfo.started ? (currentGames.indexOf(allGamesInfo.length - i - 1) >= 0 ? 'Open' : 'Watch') : (game.players.length < game.gameInfo.PLAYERS_MAX ? 'Join' : 'Watch')) }}
        </button>
      </td>
    </tr>

  </table>
</div>

<div *ngIf="!allGamesInfo">
  No Games Found
</div>
