<span class="label">Next player:</span> {{ game.nextPlayersNames }}
<br>
<div *ngIf="currentBet">
  <span class="label">Last player:</span>
  {{ game.players[game.gameInfo.lastPlayerNumber] && game.players[game.gameInfo.lastPlayerNumber].username }}
  <br>
  <br>
</div>

<span class="label">Last round results:</span> {{ '' }}
<div *ngFor="let player of game.gameInfo.players; let i = index">
  &nbsp;&nbsp;&nbsp;
  <span class="label">{{ game.players[i].username }}</span>'s dices:
  <span class="bet" *ngFor="let dice of game.gameInfo.lastRoundResults[i]"> {{ DICES[dice - 1] }}</span>
</div>
<span class="label">Round:</span> {{ game.gameInfo.currentRound }}

<br>
<br>
<div *ngIf="currentBet">
  <span class="label">Current bet:</span>
  <div class="bet">{{ currentBet }}</div>
</div>
<div *ngIf="game.nextPlayersNames && game.nextPlayersNames.indexOf(currentUsername) >= 0">
  <span class="label">My bet:</span>
  <div class="bet">{{ myBet }}</div>
</div>
<br>

<span class="label">All dices count:</span> {{ allDicesCount }}
<div *ngFor="let player of game.gameInfo.players; let i = index">
  <div *ngIf="game.players[i].username !== currentUsername">
    <span class="label">{{ game.players[i].username }}</span>'s dices count: {{ game.gameInfo.players[i].dicesCount }}
  </div>
</div>

<div *ngFor="let player of game.gameInfo.players; let i = index">
  <div *ngIf="game.players[i].username === currentUsername">
    <span class="label">My dices:</span>
    <span class="bet" *ngFor="let dice of game.gameInfo.players[i].dices"> {{ DICES[dice - 1] }}</span>
  </div>
</div>
<br>

<div *ngIf="game.nextPlayersNames && game.nextPlayersNames.indexOf(currentUsername) >= 0">
  <p>Dice number</p>
  <p>
    <button mat-raised-button (click)="diceNumberDec()" [disabled]="myBetNumberDecDisable">-</button>
    {{ diceNumber }}
    <button mat-raised-button (click)="diceNumberInc();" [disabled]="myBetNumberIncDisable">+</button>
  </p>

  <p>Dice figure</p>
  <p>
    <button mat-raised-button (click)="diceFigureDec();" [disabled]="myBetFigureDecDisable">-</button>
    {{ diceFigure }}
    <button mat-raised-button (click)="diceFigureInc();" [disabled]="myBetFigureIncDisable">+</button>
  </p>

  <button mat-raised-button (click)="moveBet()">Bet</button>&nbsp;
  <button mat-raised-button (click)="moveNotBelieve()" [disabled]="!currentBet">Not Believe</button>
</div>