.rating-page-container {
  min-height: 100vh;
  background: linear-gradient(
    rgba(0, 0, 0, 0.8), 
    rgba(0, 0, 0, 0.8)
  ),
  url(/images/home.jpg) transparent no-repeat top center/cover ;
}

.rating-page-content {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
