.game-info-container > div {
  max-width: 1390px;
  margin: 5px;
  padding: 5px;
}

.game-and-log-container {
  max-width: 1400px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.game-and-log-container > div {
  flex: 1;
  min-width: 350px;
  margin: 5px;
  padding: 5px;
}

@media screen and (max-width: 516px) {
  .game-and-log-container > div {
    width: 100%;
  }
}
