.game-page-container {
  min-height: 100vh;
  background: linear-gradient(
    rgba(0, 0, 0, 0.8), 
    rgba(0, 0, 0, 0.8)
  ),
  url(/images/home.jpg) transparent no-repeat fixed center/cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.game-page-table {
  height: 100vh;
  flex: 1 1 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.game-page-info-chat-container {
  flex: 1 0 30%;
  min-width: 340px;
  padding-left: 5px;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  padding: 5px;
}

.game-page-info-container {
  flex: 1 1;
}

.game-page-info {
  padding: 5px;
}

.game-page-chat-container {
  flex: 1 1 90%;
  padding-top: 5px;
  display: flex;
  flex-direction: column;
}

.game-page-chat {
  flex: 0 0 100%;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

@media screen and (max-width: 700px) {
  .game-page-container {
    flex-wrap: wrap;
  }

  .game-page-table {
    flex: 0 1 auto;
  }
}
