div.new-invite-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
}

.new-invite-users-container {
  display: flex;
  flex-direction: column;

  .new-invite-users-online {
    display: flex;
    flex-wrap: wrap;
  }
}