div.new-invite-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  opacity: 0.7;
}

div.new-invite-button-second {
  position: fixed;
  bottom: 110px;
  right: 30px;
  opacity: 0.7;
}

.new-invite-users-container {
  display: flex;
  flex-direction: column;

  .new-invite-users-online {
    display: flex;
    flex-wrap: wrap;
  }
}
