.new-game-container {
  text-align: center;
}

.new-game-modal-window {
  width: 300px;
  background-color: white;
  padding: 10px;
  text-align: center;
}

.new-game-modal-window Button {
  margin: 10px;
}
