div.new-game-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
}

.new-game-modal-window {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.new-game-modal-window > div > button {
  margin: 10px;
}
