div.new-game-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  opacity: 0.7;
}

.new-game-actions {
  display: flex;
  flex-direction: column;

  .new-game-games {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
