.header-toolbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header-connected-icon {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}

.header-logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-logo-small {
  max-width: 40px;
  max-height: 40px;
}
