.lost-cities-buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .lost-cities-cards-container {
    display: flex;
    flex-direction: row;
  }

  .lost-cities-button {
    width: 80px;
    height: 35px;
    margin: 2px;
  }

  button.lost-cities-chosen-card {
    background-color: #bf360c;
  }
}
