.game-table-container {
  display: flex;
  flex-direction: column;
}

.game-table-center {
  border: 3px solid dimgray;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-table-center-no-thanks {
  min-width: 40%;
  min-height: 180px;
  justify-content: space-around;
}

.game-table-center-perudo {
  min-width: 80%;
  min-height: 550px;
}
