<span class="label">Next player:</span> {{ game.nextPlayersNames }}
<br>
<span class="label">Cards left:</span> {{ game.gameInfo.cardsLeft }}
<br>
<br>
<span class="label">Current card:</span>
<br>
<div>
  <span class="nothanks-bold">{{ game.gameInfo.currentCard }}</span>
</div>
<span class="chips">{{ CHIP.repeat(game.gameInfo.currentCardCost) }}</span> ({{ game.gameInfo.currentCardCost }})
<br>
<br>

<div *ngFor="let player of game.gameInfo.players; let i = index">
  <div *ngIf="game.players[i].username !== currentUsername">
    <span class="label">{{ game.players[i].username }}</span>'s cards:
    <span *ngFor="let card of player.cards; let i = index">
      <span class="{{ i === 0 || card !== player.cards[i - 1] + 1 ? 'nothanks-bold' : 'nothanks-grey' }}"> {{ card }}</span>
    </span>
  </div>
</div>

<div *ngFor="let player of game.gameInfo.players; let i = index">
  <div *ngIf="game.players[i].username === currentUsername">
    <br>
    <span class="label">My chips: </span>
    <span class="chips">{{ CHIP.repeat(player.chips) }}</span> ({{ player.chips }})
    <br>
    <br>
    <span class="label">My cards: </span>
    <span *ngFor="let card of player.cards; let i = index">
      <span class="{{ i === 0 || card !== player.cards[i - 1] + 1 ? 'nothanks-bold' : 'nothanks-grey' }}"> {{ card }}</span>
    </span>
    <br>
    <br>
    <span class="label">My points: </span>
    <span class="result">{{ player.points }}</span>
  </div>
</div>
<br>

<div *ngIf="game.nextPlayersNames && game.nextPlayersNames.indexOf(currentUsername) >= 0">
  <button mat-raised-button (click)="movePay()">Pay</button>&nbsp;
  <button mat-raised-button (click)="moveTake()">Take</button>
</div>