.game-table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-table-center {
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-table-center-no-thanks {
  min-width: 240px;
  min-height: 200px;
  justify-content: space-around;
}

.game-table-center-perudo {
  min-width: 330px;
  min-height: 450px;
}
