.no-thanks-card {
  display: flex;
  border: 1px solid;
  font-weight: bold;
  width: 30px;
  height: 50px;
  align-items: center;
  justify-content: center;
  margin: 1px;
  padding: 2px;
}

.no-thanks-card-dim {
  border: 1px solid dimgray;
  color: dimgray;
}
